html {
    background-color: #111;
    color: #fff;
    text-align: center;
}

body {
    padding: 0px 30px 60px calc(var(--sidebarwidth) + 30px);
    transition: 0.2s;
}

.grid-container {
    grid-gap: 25px;
    display: inline-grid;
    justify-items: center;
    align-items: center;
}

@media screen and (min-aspect-ratio: 1/2) {
    .grid-container {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-aspect-ratio: 1/2) {
    .grid-container {
        grid-template-columns: auto auto;
    }
}



.grid-item {
    transition: transform .2s;
    max-width: 800px;
    cursor: pointer;
    background: #181818;
    border-radius: 2%;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 2% 2% 0px 0px;
}

.grid-item:hover {
    transform: scale(1.2);
}

h2 {
    padding-right: 25px;
    /* shitty, to balance out the "open" div thingy */
    transition: .2s;
}

h1 {
    padding-right: 25px;
    /* shitty, to balance out the "open" div thingy */

    transition: .2s;
    font-size: 300%;
    text-decoration: underline;
}

a {
    color: #ccc;
    text-decoration: none;
    transition: 0.2s;
}

a:hover {
    color: #fff
}

.pink {
    color: #c300ff
}

.pink:hover {
    color: #ff0095
}

.yellow {
    color: #ffc400
}

.red {
    color: rgb(255, 0, 0)
}

.green {
    color: #adff2f;
}